<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>tunesly</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to tunesly</h1>
        <p>Your music binder!</p>
      </div>
    </div>


    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Album</h2>
        </div>
      </div>
      
      <div id="show-album">

      </div>
      
    </section>


  </body>
</html>