.jumbotron {
  background-image: url(../images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

/*.show-jumbotron .show-album-container {
	height: 150px;
}*/

.album-internal-row {
	background-color: #c1cdcd;
}

.song-field {
  text-align: center;
}

.delete-song {
  margin-right: 0;
}





